body {
  background-color: #111;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.keyboard-container {
  max-width: 800px;
  margin: auto;
  background-color: rgb(7, 7, 7);
}

.header h1 {
  color: gold;
  text-shadow: 2px 2px 8px #ffd700;
}

textarea {
  width: 100%;
  height: 150px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: #222;
  border: 2px solid gold;
  color: gold;
  text-shadow: 1px 1px #ffb702;
  cursor: pointer;
}


.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.key {
  background: linear-gradient(145deg, #ffe066, #9b8400);
  border: none;
  color: #111;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgb(255, 217, 0);
}
.space {
  flex: 1;
}

.backspace:hover {
  background: rgb(196, 176, 1) !important;
  color: rgb(8, 8, 8);
}


.key.key-img {
border: solid 1px #fff ;
background-image: url(./gold.jpeg);
background-size: contain;
background-repeat: no-repeat;
}
.key:hover {
  transform: scale(1.2);
  background: rgb(196, 176, 1) !important;
}

img:hover{
  cursor: not-allowed;
}
