body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.keyboard{
  background-color: hsl(128, 100%, 50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px hsl(0, 0%, 0%);
}

.row {
  margin-bottom: 10px;
  text-align: center;
}

button{ 
  color: hsl(0, 0%, 0%);
  border: none;
  margin: 4px;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
  background-color: #000000;
}

.space{
  width: 300px;
}
